@charset "utf-8";

*{
    box-sizing: border-box;
}

.topo{
    border: 1px solid red;
}
.esquerda{
    border: 1px solid green;
    float: left;
    width: 25%;
}

.direita{
    border: 1px solid blue;
    float: left;
    width: 75%;
}