@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #78237E,#653088,#4F378B);
}
main{
    background-color: white;
    width: 600px;
    border-radius: 22px;
    box-shadow:8px 8px 8px #39006B;
    padding: 10px;
    margin: auto;
}
h1{
    color:#8400F7;
    text-align: center;
    text-shadow: 1px 1px 2px #270049de;
}
h2{
    color: #7d00eb;
}
p{
    text-align: justify;
}
